{% extends 'base.html' %}

{% block content %}

<main class="container py-5 ">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quae, iste sit perferendis repellendus a iusto dolorum optio accusamus dolores culpa praesentium minima asperiores odit quisquam consectetur veritatis mollitia, atque inventore voluptatum consequatur obcaecati officia. Alias tenetur eos facere quod. Veritatis, ullam non. Qui commodi et maxime corrupti ratione ullam! Corrupti at consectetur esse amet possimus fugiat quae iste dicta, sint et, tempore rem odio! Eveniet, veniam? Obcaecati ut cupiditate aliquid minus porro non repellat neque eligendi quae adipisci officiis explicabo, excepturi aspernatur accusamus delectus soluta. Recusandae adipisci quod perspiciatis ratione voluptatem pariatur explicabo maiores! Maiores excepturi ratione nisi vel. </p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>
        </section>
</main>

{% endblock %}